# Import libraries

In [4]:
!pip install mlxtend
import pandas as pd
from mlxtend.frequent_patterns import apriori,association_rules
from mlxtend.preprocessing import TransactionEncoder

Collecting mlxtend
  Downloading mlxtend-0.21.0-py2.py3-none-any.whl (1.3 MB)
     ---------------------------------------- 1.3/1.3 MB 1.4 MB/s eta 0:00:00
Requirement already satisfied: pandas>=0.24.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.4.4)
Requirement already satisfied: joblib>=0.13.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: setuptools in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (63.4.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (3.5.2)
Requirement already satisfied: scipy>=1.2.1 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.9.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\dell\anaconda3\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: cycler>=0.10 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: pillow>=6.2.0 in c:\users\dell\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.2.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\dell\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\dell\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Requirement already satisfied: six>=1.5 in c:\users\dell\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.21.0

In [5]:
titanic = pd.read_csv("Titanic.csv")
titanic.head()

  Class Gender    Age Survived
0   3rd   Male  Child       No
1   3rd   Male  Child       No
2   3rd   Male  Child       No
3   3rd   Male  Child       No
4   3rd   Male  Child       No

# Pre-Processing
As the data is not in transaction formation 
We are using transaction Encoder

In [6]:
df=pd.get_dummies(titanic)
df.head()

,Class_1st,Class_2nd,Class_3rd,Class_Crew,Gender_Female,Gender_Male,Age_Adult,Age_Child,Survived_No,Survived_Yes
0,0,0,1,0,0,1,0,1,1,0
1,0,0,1,0,0,1,0,1,1,0
2,0,0,1,0,0,1,0,1,1,0
3,0,0,1,0,0,1,0,1,1,0
4,0,0,1,0,0,1,0,1,1,0

# Apriori Algorithm

In [15]:
frequent_itemsets = apriori(df, min_support=0.2, use_colnames=True)
frequent_itemsets

C:\Users\Dell\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

     support                                           itemsets
0   0.320763                                        (Class_3rd)
1   0.402090                                       (Class_Crew)
2   0.213539                                    (Gender_Female)
3   0.786461                                      (Gender_Male)
4   0.950477                                        (Age_Adult)
5   0.676965                                      (Survived_No)
6   0.323035                                     (Survived_Yes)
7   0.231713                           (Gender_Male, Class_3rd)
8   0.284871                             (Age_Adult, Class_3rd)
9   0.239891                           (Survived_No, Class_3rd)
10  0.391640                          (Gender_Male, Class_Crew)
11  0.402090                            (Age_Adult, Class_Crew)
12  0.305770                          (Survived_No, Class_Crew)
13  0.757383                           (Gender_Male, Age_Adult)
14  0.619718                         (Gender_Male, Survived_No)
15  0.653339                           (Age_Adult, Survived_No)
16  0.297138                          (Survived_Yes, Age_Adult)
17  0.209905                (Gender_Male, Age_Adult, Class_3rd)
18  0.216265                (Age_Adult, Survived_No, Class_3rd)
19  0.391640               (Gender_Male, Age_Adult, Class_Crew)
20  0.304407             (Gender_Male, Survived_No, Class_Crew)
21  0.305770               (Age_Adult, Survived_No, Class_Crew)
22  0.603816              (Gender_Male, Survived_No, Age_Adult)
23  0.304407  (Gender_Male, Survived_No, Class_Crew, Age_Adult)

In [16]:
rules = association_rules(frequent_itemsets, metric="lift", min_threshold=0.7)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Gender_Male),(Class_3rd),0.786461,0.320763,0.231713,0.294627,0.918520,-0.020555,0.962947
1,(Class_3rd),(Gender_Male),0.320763,0.786461,0.231713,0.722380,0.918520,-0.020555,0.769177
2,(Age_Adult),(Class_3rd),0.950477,0.320763,0.284871,0.299713,0.934375,-0.020008,0.969941
3,(Class_3rd),(Age_Adult),0.320763,0.950477,0.284871,0.888102,0.934375,-0.020008,0.442572
4,(Survived_No),(Class_3rd),0.676965,0.320763,0.239891,0.354362,1.104747,0.022745,1.052040
...,...,...,...,...,...,...,...,...,...
65,"(Age_Adult, Class_Crew)","(Gender_Male, Survived_No)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
66,(Gender_Male),"(Age_Adult, Survived_No, Class_Crew)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
67,(Survived_No),"(Gender_Male, Age_Adult, Class_Crew)",0.676965,0.391640,0.304407,0.449664,1.148157,0.039280,1.105434
68,(Class_Crew),"(Gender_Male, Survived_No, Age_Adult)",0.402090,0.603816,0.304407,0.757062,1.253795,0.061619,1.630802
69,(Age_Adult),"(Gender_Male, Survived_No, Class_Crew)",0.950477,0.304407,0.304407,0.320268,1.052103,0.015075,1.023334

#####  An leverage value of 0 indicates independence. Range will be [-1 1]
A high conviction value means that the consequent is highly depending on the antecedent and range [0 inf]

In [17]:
rules.sort_values('lift',ascending = False)[0:20]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
63,"(Survived_No, Class_Crew)","(Gender_Male, Age_Adult)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079
62,"(Gender_Male, Age_Adult)","(Survived_No, Class_Crew)",0.757383,0.305770,0.304407,0.401920,1.314450,0.072822,1.160764
37,(Class_Crew),"(Gender_Male, Age_Adult)",0.402090,0.757383,0.391640,0.974011,1.286022,0.087104,9.335480
32,"(Gender_Male, Age_Adult)",(Class_Crew),0.757383,0.402090,0.391640,0.517097,1.286022,0.087104,1.238157
41,(Gender_Male),"(Survived_No, Class_Crew)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
40,"(Survived_No, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
66,(Gender_Male),"(Age_Adult, Survived_No, Class_Crew)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
59,"(Age_Adult, Survived_No, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
68,(Class_Crew),"(Gender_Male, Survived_No, Age_Adult)",0.402090,0.603816,0.304407,0.757062,1.253795,0.061619,1.630802
57,"(Gender_Male, Survived_No, Age_Adult)",(Class_Crew),0.603816,0.402090,0.304407,0.504138,1.253795,0.061619,1.205800
34,"(Age_Adult, Class_Crew)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
35,(Gender_Male),"(Age_Adult, Class_Crew)",0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004
6,(Gender_Male),(Class_Crew),0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004
7,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
60,"(Gender_Male, Survived_No)","(Age_Adult, Class_Crew)",0.619718,0.402090,0.304407,0.491202,1.221623,0.055225,1.175143
38,"(Gender_Male, Survived_No)",(Class_Crew),0.619718,0.402090,0.304407,0.491202,1.221623,0.055225,1.175143
65,"(Age_Adult, Class_Crew)","(Gender_Male, Survived_No)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
43,(Class_Crew),"(Gender_Male, Survived_No)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
64,"(Age_Adult, Survived_No)","(Gender_Male, Class_Crew)",0.653339,0.391640,0.304407,0.465925,1.189676,0.048533,1.139090
61,"(Gender_Male, Class_Crew)","(Age_Adult, Survived_No)",0.391640,0.653339,0.304407,0.777262,1.189676,0.048533,1.556362

In [18]:
rules[rules.lift>1]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
4,(Survived_No),(Class_3rd),0.676965,0.320763,0.239891,0.354362,1.104747,0.022745,1.052040
5,(Class_3rd),(Survived_No),0.320763,0.676965,0.239891,0.747875,1.104747,0.022745,1.281251
6,(Gender_Male),(Class_Crew),0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004
7,(Class_Crew),(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
8,(Age_Adult),(Class_Crew),0.950477,0.402090,0.402090,0.423040,1.052103,0.019913,1.036311
9,(Class_Crew),(Age_Adult),0.402090,0.950477,0.402090,1.000000,1.052103,0.019913,inf
10,(Survived_No),(Class_Crew),0.676965,0.402090,0.305770,0.451678,1.123325,0.033569,1.090436
11,(Class_Crew),(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,0.033569,1.348519
12,(Gender_Male),(Age_Adult),0.786461,0.950477,0.757383,0.963027,1.013204,0.009870,1.339441
13,(Age_Adult),(Gender_Male),0.950477,0.786461,0.757383,0.796845,1.013204,0.009870,1.051116
14,(Gender_Male),(Survived_No),0.786461,0.676965,0.619718,0.787984,1.163995,0.087312,1.523634
15,(Survived_No),(Gender_Male),0.676965,0.786461,0.619718,0.915436,1.163995,0.087312,2.525187
16,(Age_Adult),(Survived_No),0.950477,0.676965,0.653339,0.687380,1.015386,0.009900,1.033317
17,(Survived_No),(Age_Adult),0.676965,0.950477,0.653339,0.965101,1.015386,0.009900,1.419023
26,"(Age_Adult, Survived_No)",(Class_3rd),0.653339,0.320763,0.216265,0.331015,1.031961,0.006698,1.015325
27,"(Age_Adult, Class_3rd)",(Survived_No),0.284871,0.676965,0.216265,0.759171,1.121433,0.023418,1.341344
30,(Survived_No),"(Age_Adult, Class_3rd)",0.676965,0.284871,0.216265,0.319463,1.121433,0.023418,1.050831
31,(Class_3rd),"(Age_Adult, Survived_No)",0.320763,0.653339,0.216265,0.674221,1.031961,0.006698,1.064097
32,"(Gender_Male, Age_Adult)",(Class_Crew),0.757383,0.402090,0.391640,0.517097,1.286022,0.087104,1.238157
33,"(Gender_Male, Class_Crew)",(Age_Adult),0.391640,0.950477,0.391640,1.000000,1.052103,0.019395,inf
34,"(Age_Adult, Class_Crew)",(Gender_Male),0.402090,0.786461,0.391640,0.974011,1.238474,0.075412,8.216621
35,(Gender_Male),"(Age_Adult, Class_Crew)",0.786461,0.402090,0.391640,0.497978,1.238474,0.075412,1.191004
36,(Age_Adult),"(Gender_Male, Class_Crew)",0.950477,0.391640,0.391640,0.412046,1.052103,0.019395,1.034706
37,(Class_Crew),"(Gender_Male, Age_Adult)",0.402090,0.757383,0.391640,0.974011,1.286022,0.087104,9.335480
38,"(Gender_Male, Survived_No)",(Class_Crew),0.619718,0.402090,0.304407,0.491202,1.221623,0.055225,1.175143
39,"(Gender_Male, Class_Crew)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,0.039280,1.450292
40,"(Survived_No, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
41,(Gender_Male),"(Survived_No, Class_Crew)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
42,(Survived_No),"(Gender_Male, Class_Crew)",0.676965,0.391640,0.304407,0.449664,1.148157,0.039280,1.105434
43,(Class_Crew),"(Gender_Male, Survived_No)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
44,"(Age_Adult, Survived_No)",(Class_Crew),0.653339,0.402090,0.305770,0.468011,1.163946,0.043069,1.123915
45,"(Age_Adult, Class_Crew)",(Survived_No),0.402090,0.676965,0.305770,0.760452,1.123325,0.033569,1.348519
46,"(Survived_No, Class_Crew)",(Age_Adult),0.305770,0.950477,0.305770,1.000000,1.052103,0.015143,inf
47,(Age_Adult),"(Survived_No, Class_Crew)",0.950477,0.305770,0.305770,0.321702,1.052103,0.015143,1.023488
48,(Survived_No),"(Age_Adult, Class_Crew)",0.676965,0.402090,0.305770,0.451678,1.123325,0.033569,1.090436
49,(Class_Crew),"(Age_Adult, Survived_No)",0.402090,0.653339,0.305770,0.760452,1.163946,0.043069,1.447145
50,"(Gender_Male, Survived_No)",(Age_Adult),0.619718,0.950477,0.603816,0.974340,1.025106,0.014788,1.929980
51,"(Gender_Male, Age_Adult)",(Survived_No),0.757383,0.676965,0.603816,0.797241,1.177669,0.091095,1.593193
52,"(Age_Adult, Survived_No)",(Gender_Male),0.653339,0.786461,0.603816,0.924200,1.175139,0.089991,2.817152
53,(Gender_Male),"(Age_Adult, Survived_No)",0.786461,0.653339,0.603816,0.767764,1.175139,0.089991,1.492710
54,(Survived_No),"(Gender_Male, Age_Adult)",0.676965,0.757383,0.603816,0.891946,1.177669,0.091095,2.245337
55,(Age_Adult),"(Gender_Male, Survived_No)",0.950477,0.619718,0.603816,0.635277,1.025106,0.014788,1.042660
56,"(Gender_Male, Survived_No, Class_Crew)",(Age_Adult),0.304407,0.950477,0.304407,1.000000,1.052103,0.015075,inf
57,"(Gender_Male, Survived_No, Age_Adult)",(Class_Crew),0.603816,0.402090,0.304407,0.504138,1.253795,0.061619,1.205800
58,"(Gender_Male, Age_Adult, Class_Crew)",(Survived_No),0.391640,0.676965,0.304407,0.777262,1.148157,0.039280,1.450292
59,"(Age_Adult, Survived_No, Class_Crew)",(Gender_Male),0.305770,0.786461,0.304407,0.995542,1.265851,0.063931,47.903983
60,"(Gender_Male, Survived_No)","(Age_Adult, Class_Crew)",0.619718,0.402090,0.304407,0.491202,1.221623,0.055225,1.175143
61,"(Gender_Male, Class_Crew)","(Age_Adult, Survived_No)",0.391640,0.653339,0.304407,0.777262,1.189676,0.048533,1.556362
62,"(Gender_Male, Age_Adult)","(Survived_No, Class_Crew)",0.757383,0.305770,0.304407,0.401920,1.314450,0.072822,1.160764
63,"(Survived_No, Class_Crew)","(Gender_Male, Age_Adult)",0.305770,0.757383,0.304407,0.995542,1.314450,0.072822,54.427079
64,"(Age_Adult, Survived_No)","(Gender_Male, Class_Crew)",0.653339,0.391640,0.304407,0.465925,1.189676,0.048533,1.139090
65,"(Age_Adult, Class_Crew)","(Gender_Male, Survived_No)",0.402090,0.619718,0.304407,0.757062,1.221623,0.055225,1.565346
66,(Gender_Male),"(Age_Adult, Survived_No, Class_Crew)",0.786461,0.305770,0.304407,0.387060,1.265851,0.063931,1.132622
67,(Survived_No),"(Gender_Male, Age_Adult, Class_Crew)",0.676965,0.391640,0.304407,0.449664,1.148157,0.039280,1.105434
68,(Class_Crew),"(Gender_Male, Survived_No, Age_Adult)",0.402090,0.603816,0.304407,0.757062,1.253795,0.061619,1.630802
69,(Age_Adult),"(Gender_Male, Survived_No, Class_Crew)",0.950477,0.304407,0.304407,0.320268,1.052103,0.015075,1.023334

In [19]:
help(association_rules)

Help on function association_rules in module mlxtend.frequent_patterns.association_rules:

association_rules(df, metric='confidence', min_threshold=0.8, support_only=False)
    Generates a DataFrame of association rules including the
    metrics 'score', 'confidence', and 'lift'

    Parameters
    -----------
    df : pandas DataFrame
      pandas DataFrame of frequent itemsets
      with columns ['support', 'itemsets']

    metric : string (default: 'confidence')
      Metric to evaluate if a rule is of interest.
      **Automatically set to 'support' if `support_only=True`.**
      Otherwise, supported metrics are 'support', 'confidence', 'lift',
      'leverage', and 'conviction'
      These metrics are computed as follows:

      - support(A->C) = support(A+C) [aka 'support'], range: [0, 1]

      - confidence(A->C) = support(A+C) / support(A), range: [0, 1]

      - lift(A->C) = confidence(A->C) / support(C), range: [0, inf]

      - leverage(A->C) = support(A->C) - support(A)*support(C),
        range: [-1, 1]

      - conviction = [1 - support(C)] / [1 - confidence(A->C)],
        range: [0, inf]


    min_threshold : float (default: 0.8)
      Minimal threshold for the evaluation metric,
      via the `metric` parameter,
      to decide whether a candidate rule is of interest.

    support_only : bool (default: False)
      Only computes the rule support and fills the other
      metric columns with NaNs. This is useful if:

      a) the input DataFrame is incomplete, e.g., does
      not contain support values for all rule antecedents
      and consequents

      b) you simply want to speed up the computation because
      you don't need the other metrics.

    Returns
    ----------
    pandas DataFrame with columns "antecedents" and "consequents"
      that store itemsets, plus the scoring metric columns:
      "antecedent support", "consequent support",
      "support", "confidence", "lift",
      "leverage", "conviction"
      of all rules for which
      metric(rule) >= min_threshold.
      Each entry in the "antecedents" and "consequents" columns are
      of type `frozenset`, which is a Python built-in type that
      behaves similarly to sets except that it is immutable
      (For more info, see
      https://docs.python.org/3.6/library/stdtypes.html#frozenset).

    Examples
    -----------
    For usage examples, please see
    http://rasbt.github.io/mlxtend/user_guide/frequent_patterns/association_rules/